<div><!-- questions.answerForm.hbs -->
    <form class="question-replay" data-js="form-question-replay"
          action="https://questions.mercadolibre.com.ar/#/preguntas/vendedor/{{id}}"
          method="post">

        <textarea class="question-replay__textarea"
                  data-js="question-replay__textarea" name="text" rows="1"
                  cols="40" maxlength="2000"
                  placeholder="Escribe tu respuesta..."
                  style="overflow-y: hidden;"></textarea>

        <!-- mensaje de error de validación -->
        <div class="ch-box-icon ch-box-error empty-field">
            <i class="ch-icon-remove-sign"></i>
            Ups, olvidaste escribir tu respuesta.
        </div>

        <div class="ch-box-icon ch-box-error server-error">
            <i class="ch-icon-remove-sign"></i>
            Error al enviar su respuesta. Por favor, vuelva a intentar más tarde.
        </div>

        <div class="ch-box-icon ch-box-warn" data-js="personal-data">
            <i class="ch-icon-warning-sign"></i>No ingreses datos de
            contacto
        </div>

        <div class="ch-box-icon ch-box-warn special-chars"
             data-js="special-chars">
            <i class="ch-icon-warning-sign"></i>No uses caracteres
            especiales
        </div>


        <div class="question-replay__actions u--clearfix">
            <button type="submit" data-js="question-replay__btn-submit"
                    class="question-replay__btn-submit ch-btn">Responder
            </button>
            <a href="https://questions.mercadolibre.com.ar/#/preguntas/vendedor"
               class="question-replay__btn-cancel mobile-hidden u--no-visited"
               data-js="question-btn-cancel">Cancelar</a>

            <a href="https://questions.mercadolibre.com.ar/#/preguntas/vendedor/{{id}}/eliminar"
               class="question-replay__btn-delete u--no-visited"
               data-js="delete-modal-trigger"><span
                    class="ch-icon-trash"></span>Eliminar pregunta</a>
        </div>

    </form>
    <!-- /questions.answerForm.hbs -->
</div>
