<article data-js="questions-answer-group"
         class="table-list__item question question--question question--opened"
         id="4416752323">    <!-- questions.question.hbs -->
    <div data-js="questions-old"></div>

    <div data-href="#/preguntas/vendedor/4416752323"
         class="action-block action-block--alt" data-js="question__link">
        <div class="u--arrange-fit">
            <i class="question__icon ch-icon-comment"></i>
        </div>
        <div class="u--arrange-fill">
            <p class="question__text" data-js="question-row-text">
                Hola, esta en stock?
            </p>

            <p class="question__date" data-js="question-row-date">
                Hace segundos.
            </p>

            <div class="question__info u--clearfix">
                <a href="http://www.mercadolibre.com.ar/jm/profile?id=92028050&amp;oper=S"
                   data-js="reputation-link" class="u--float-left u--no-visited"
                   target="_blank">
                    JUSIMIL (269)
                </a>

            </div>
        </div>
    </div>

    <div data-js="answer-form">
      {{partial 'answer-form_2.hbs'}}
    </div>

    <!-- /questions.question.hbs -->
</article>
