<!-- Servicio -->
<section data-js="ml-card" class="card"><!-- questions.ItemsGroup.hbs -->
    <div data-js="item">
      {{#each items}}
          <!--{{partial item}}-->
      {{/each}}
    </div>


    <div data-js="question">
      {{#each questions}}
          <!--partial question_group-->
      {{/each}}
    </div>

    <!-- / questions.ItemsGroup.hbs -->
</section>
