<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Preguntas - MercadoLibre</title>
    <link rel="stylesheet" href="../../../../css/meli.css">

</head>

<body class="https desktop js vendedor" data-device="desktop" data-site="MLA" data-country="AR" data-company="ML">

<h3>MeliPreguntas</h3>
<p>Esta app esta buena o no?</p>

<main role="main" id="main">
    <div class="nav-bounds">

        <section class="app-container clearfix" id="app-container">
            <div><!-- questions.questions.main -->

                <!-- questions.header -->
                <header class="myml-header u--clearfix" data-js="header">

                    <h1 class="main-title title title--primary" data-js="main-title">
                        Preguntas
                        (<span class="questions-total" data-js="questions-total">2</span>)
                    </h1>

                    <div class="open-all">
                        <input type="checkbox" data-js="open-all" name="questions-open-checkbox"
                               id="questions-open-checkbox" value="">
                        <label for="questions-open-checkbox">Desplegar todas</label>
                    </div>

                </header>
                <!-- /questions.header -->


                <div id="main-questions" class="seller">

                  {{#each itemsGroups}}
                      <!--{{partial 'item-group'}}->
                  {{/each}}

                </div>

                <div class="ch-loading ch-loading-small pagination-link-spinner"
                     data-js="pagination-link-spinner"></div>
                <!-- /questions.questions.main -->
            </div>
        </section>
    </div>
</main>


</body>
</html>