<div><!-- questions.questionsGroup.hbs -->
    <div class="questions-container" data-js="questions-container">
      {{#each questions}}
        {{partial 'question_2.hbs'}}
      {{/each}}
    </div>
    <!-- / questions.questionsGroup.hbs -->
</div>
