<div id="49200"><!-- questions.item.hbs -->

    <div class="item-status">
        <div class="ch-box-icon ch-box-warn">
            <i class="ch-icon-"></i> Publicación finalizada
        </div>
    </div>

    <article class="item item-header" data-id="item-MLA628649018" data-js="item">
        <a
                href="http://servicio.mercadolibre.com.ar/MLA-628649018-cabanas-seis-personas-semana-del-13-al-20082016-_JM"
                class="u--arrange-fit item__image">
            <img src="/css/834321-MLA20752827948_062016-I.jpg"
                 alt="Imágen producto" width="90" height="90">
        </a>
        <div class="u--arrange-fill item__content">
            <h2 class="item__title">
                <a
                        href="http://servicio.mercadolibre.com.ar/MLA-628649018-cabanas-seis-personas-semana-del-13-al-20082016-_JM"
                        class="u--no-visited">Cabañas Seis Personas, Semana Del 13 Al
                    20/08/2016</a>
            </h2>

            <div class="item__price">
                <strong class="ch-price">
                    <i class="ch-price-symbol">$</i> 19.000<sup>00</sup>
                </strong>

                <p class="item__data item__data--quantity">
                    <span class="u--text-light quantity">x 1 disponible</span>
                </p>
            </div>


            <p class="item__data item__data--end-date"><span class="ch-icon-time"></span>
                Finalizó hace 38 días.</p>

            <a class="item__edit u--no-visited"
               href="https://vender.mercadolibre.com.ar/item/update?itemId=MLA628649018"
               target="_blank">
                <i class="ch-icon-pencil"></i>
                <small class="edit-text">Modificar</small>
            </a>
        </div>
    </article>
    <!-- / questions.item.hbs -->
</div>
