<div id="13065"><!-- questions.item.hbs -->


    <article class="item item-header" data-id="item-MLA643830069" data-js="item">
        <a
                href="http://articulo.mercadolibre.com.ar/MLA-643830069-pokemon-xy-evolutions-lote-18-sobres-media-caja-booster-box-_JM"
                class="u--arrange-fit item__image">
            <img src="/css/424215-MLA25179786346_112016-I.jpg"
                 alt="Imágen producto" width="90" height="90">
        </a>
        <div class="u--arrange-fill item__content">
            <h2 class="item__title">
                <a
                        href="http://articulo.mercadolibre.com.ar/MLA-643830069-pokemon-xy-evolutions-lote-18-sobres-media-caja-booster-box-_JM"
                        class="u--no-visited">Pokemon Xy Evolutions Lote 18 Sobres Media
                    Caja
                    Booster Box</a>
            </h2>

            <div class="item__price">
                <strong class="ch-price">
                    <i class="ch-price-symbol">$</i> 1.460<sup>00</sup>
                </strong>

                <p class="item__data item__data--quantity">
                    <span class="u--text-light quantity">x 2 disponibles</span>
                </p>
            </div>


            <p class="item__data item__data--shipping">MercadoEnvíos</p>


            <p class="item__data item__data--end-date"><span class="ch-icon-time"></span>
                Finaliza en 53 días.</p>

            <a class="item__edit u--no-visited"
               href="https://vender.mercadolibre.com.ar/item/update?itemId=MLA643830069"
               target="_blank">
                <i class="ch-icon-pencil"></i>
                <small class="edit-text">Modificar</small>
            </a>
        </div>
    </article>
    <!-- / questions.item.hbs -->
</div>
