<div><!-- questions.questionsGroup.hbs -->
    <div class="questions-container" data-js="questions-container">
      {{#each questions}}
          {{> question this}}
      {{/each}}
    </div>
    <!-- / questions.questionsGroup.hbs -->
</div>
