<!-- Servicio o Product -->
<section data-js="ml-card" class="card"><!-- questions.ItemsGroup.hbs -->
    <div data-js="item">
        {{>item item}}
    </div>

    <div data-js="question">
        {{>questions-group questions}}
    </div>
    <!-- / questions.ItemsGroup.hbs -->
</section>
